---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer.astro'
import { SITE } from '@/config';
import {sortPosts} from '@/util'

const posts = await Astro.glob('./posts/*.md');
const allPosts = sortPosts(posts);

---

<html lang="ch">
  <head>
    <HeadCommon />
    <HeadSEO pageURL={SITE.homePage} content={{}} />
    <title>{SITE.title}</title>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "ktot6ax7h2");
  </script>
  </head>

  <body>
    <Header />
    <div
      class="mx-auto -mt-5 mb-12 xl:max-w-7xl w-full lg:max-w-5xl md:max-w-2xl max-w-xl md:box-border box-content md:px-0 px-3"
    >
      <div
        class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 mx-0 md:-mr-5 mr-0"
      >
        {allPosts.map((p) => <Card post={p} />)}
      </div>
    </div>
    <Footer/>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/65ee7b118d261e1b5f6b5cb3/1holp1fta';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
  <!--End of Tawk.to Script-->
  </body>
</html>
